extends ../layout

block content

  h1(class="page-header") Fabric inventory

  table(class="table")
    thead
      th Name
      th Content
      th Width (inches)
      th Yardage available
      th Domestic?
    tbody
      each fabric in fabrics
        tr
          td= fabric.name
          td= fabric.content
          td= fabric.width_in_inches
          td= fabric.yardage
          td= fabric.domestic ? "Domestic" : "Imported"
